{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 v:schemaLocation="https://fluidtypo3.org/schemas/flux-master.xsd"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Configuration">
        <v:variable.set name="icon" value="{v:extension.path.resources(path: 'Icons/container.gif')}" />    
		<flux:form id="container" options="{icon:'{icon}', group: 'Container'}">
			<flux:field.select name="settings.container.width" items="{settings.container.widths}" requestUpdate="1" default="large" />
            <flux:field.select name="settings.container.bgColor" items="{settings.container.bgColors}" emptyOption="None" />
            <flux:field.input name="settings.container.id" placeholder="{f:translate(key: 'flux.container.fields.settings.container.id.placeholder')}" />
            <f:comment>
			<flux:field.checkbox name="paddingTop" displayCond="<![CDATA[FIELD:width:=:padding]]>" />
			<flux:field.checkbox name="paddingLeft" default="1" displayCond="<![CDATA[FIELD:width:=:padding]]>" />
			<flux:field.checkbox name="paddingBottom" displayCond="<![CDATA[FIELD:width:=:padding]]>" />
			<flux:field.checkbox name="paddingRight" default="1" displayCond="<![CDATA[FIELD:width:=:padding]]>" />
			<flux:field.checkbox name="noMargin" default="0"/>
			
            </f:comment>
		</flux:form>
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column style="width: 100%" name="content" />
			</flux:grid.row>
		</flux:grid>
	</f:section>
	
	<f:section name="Main">
		<v:variable.set name="paddings" value=""/>
		<f:if condition='{paddingTop}==1'>
			<v:variable.set name="paddings" value="{paddings} pt"/>
		</f:if>
		<f:if condition='{paddingLeft}==1'>
			<v:variable.set name="paddings" value="{paddings} pl"/>
		</f:if>
		<f:if condition='{paddingBottom}==1'>
			<v:variable.set name="paddings" value="{paddings} pb"/>
		</f:if>
		<f:if condition='{paddingRight}==1'>
			<v:variable.set name="paddings" value="{paddings} pr"/>
		</f:if>
		<section
            id="{f:if(condition: settings.container.id, then: settings.container.id, else: 'c{record.uid}')}"
            class="section-container {settings.container.width}{f:if(condition: settings.container.bgColor, then: ' bg-{settings.container.bgColor}')} {paddings}{f:if(condition:'{noMargin}==1',then:' no-margin')}">
    		<flux:content.render area="content" />
		</section>
	</f:section>
	
	<f:section name="Preview">
        <strong><p><f:translate key="flux.container" /></strong></p>
            <ul>
                <li><f:translate key="flux.container.fields.settings.container.width" />: {settings.container.width}</li>
                <li><f:translate key="flux.container.fields.settings.container.bgColor" />: {settings.container.bgColor}</li>
            </ul>
		<flux:widget.grid />
	</f:section>
	
</div>
